*{

    padding:0;
    margin:0;
    font-family:sans-serif;
    box-sizing: border-box;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-image: linear-gradient();
    margin:auto;
}

input[type="radio"]{
    margin: 0 10px 0 10px;
}



.year{
    box-sizing: border-box;
}
.radio{
    padding-right: 10px;
}
